extends layout

block content
  h1= title
  - let books=results
  - let destinationcreate = `dispatchCreate(\"/book/create\")`
  div(class="container-fluid")
    button.btn( class="btn-primary ml-1 btn-lg", onclick= destinationcreate) Create
  div(class="row m-1")
    each book,index in books
      - let destinationupdate = `dispatch(\"/book/update?id=${book._id}\")`
      - let destinationdetail =   `dispatch(\"/book/detail?id=${book._id}\")`
      - let destinationdelete = `dispatchDelete(\"/book/delete?id=${book._id}\")`
        div(class="col-sm-4  m-1" style=("font-weight:bolder")) #{book.name} - #{book.price} - #{book.author}
          button.btn( class="btn-secondary ml-1", onclick= destinationdetail) Detail
          button.btn( class="btn-info ml-1", onclick= destinationupdate) Update
          button.btn( class="btn-danger ml-1", onclick= destinationdelete) Delete
  script.
      function dispatch(path){
      window.location.href=path
      }
      function dispatchCreate(path){
        window.location.href=path
      }
      function dispatchDelete(path){
        window.location.href=path
      }